main {
    transform: scale(0.5);
}

#iniciandoBatle {
    display: flex;
    position: absolute;
    visibility: visible;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blocoOne {
    float: right;
    visibility: hidden;
}

#protaImagem {
    width: 400px;
    height: 400px;
    border: 1px;
}

#barraDeVidaProta {
    width: 64px;
    height: 30px;
    background-color: red;
    position: relative;
    top: 0;
    left: 0;
    border: 3px solid;
    border-radius: 10px;
    transition: 1.0s ease; 
}

#blocoTwo {
    float: left;
    visibility: hidden;
}

#barraDeVidaBoss {
    width: 128px;
    height: 30px;
    background-color: rgb(233, 17, 204);
    position: relative;
    border: 3px solid;
    border-radius: 10px;
    top: 0;
    right: 0;
    transition: 1.0s ease;
}

#boss {
    height: 400px;
    width: 400px;
    border: 1px;
}

.chars {
    margin: 15px 100px;
}