#container {
    visibility: hidden;
    border: 5px solid black;
    width: 200%;
    height: 150%;
    transform: scale(0.5);
    background: linear-gradient(120deg, rgb(24, 56, 34), #fffdfdda);
}

#iniciandoBatle {
    display: flex;
    position: absolute;
    visibility: visible;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blocoOne {
    height: 700px;
    /*border: 3px solid black;*/
    visibility: hidden;
    float: right;
}

#protaImagem {
    width: 400px;
    height: 400px;
    border: 1px;
}

.nomeProta {
    font-size: 60px;
}

#barraDeVidaProta {
    width: 158px;
    height: 30px;
    background-color: red;
    position: relative;
    top: 1;
    left: 0;
    border: 3px solid;
    border-radius: 10px;
    transition: 1.0s ease;
}

#barraDeCura {
    width: 30px;
    height: 15px;
    background-color: gray;
}

#cura {
    width: 30px;
    height: 15px;
    background-color: green;
}

#barraPower {
    width: 50px;
    height: 15px;
    background-color: black;
}

#poder {
    width: 0px;
    height: 15px;
    background-color: cyan;
}

#ataques {
    position: absolute;
    right: 5%;
    margin-top: -7.3cm;
    height: 7cm;
    width: 13cm;
    border: 6px solid red;
    background-color: #00FF7F;
    border-radius: 20px;
    visibility: hidden;
}

#bottonAtaque {
    padding: 0 130px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}


#buttonAtq1 {
    position: relative;
    font-size: 25px;
    visibility: hidden;
}

#buttonAtq2 {
    font-size: 25px;
    position: relative;
    visibility: hidden;
}

#buttonAtq3 {
    font-size: 25px;
    position: relative;
    visibility: hidden;
}

#blocoTwo {
    height: 700px;
    visibility: hidden;
    /*border: 3px solid black;*/
    float: left;
}

#barraDeVidaBoss2 {
    width: 160px;
    height: 30px;
    background-color: rgb(233, 17, 204);
    position: relative;
    border: 3px solid;
    border-radius: 10px;
    top: 0;
    right: 0;
    transition: 1.0s ease;
}

.nomeBoss {
    font-size: 60px;
}


#bossImagem {
    height: 400px;
    width: 400px;
    border: 1px;
}

.chars {
    margin: 15px 100px;
}

#bottonRow {
    height: 7cm;
    margin-left: 5%;
    width: 21.7cm;
    margin-top: 21cm;
    border: 6px solid red;
    background-color: #00FF7F;
    border-radius: 20px;
}

#fala2 {
    font-size: 60px;
}