*{
  padding: 0;
  margin: 0;
  margin-bottom: 1cm;
}

body{
  text-align: center;
  margin-top: 3cm;
  font-size: 30px;
  background-size: 100%;
  background: linear-gradient(120deg, rgb(12, 254, 85), #fffdfdda);
}
h1{
  font-size: 50px;
}
.mybutton{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 75%;
  color: black;
  background-color: rgb(172, 245, 28);
  padding: 10px;
  transition-duration: 0.5s;
  width: 20%;
  border-radius: 30px;
  box-shadow: 0 5px;
}
.mybutton:hover{
  background-color: whitesmoke;
}
.mybutton:active{
  box-shadow: 0 3px;
  transform: translateY(25px);
}


